{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1 class="text-3xl">Our mission is to deliver the most compelling shopping experience for our customers.</h1>
    <br>

    <b class="text-xl">Discover:</b>
    <p class="text-lg">SellIt is a new kind of shopping comparison site that offers the most comprehensive shopping experience on the web. Our shopping experts
        have drawn on their industry experience and insider connections to bring you the best collection of the stores you can't live without, 
        and the brands and products you love - all in one place.</p>
    <br>

    <b class="text-xl">Compare:</b>
    <p class="text-lg">Search for the products you love from the best stores on the web and see them side by side. Decide which price, shipping method, and delivery schedule options work best for you.</p>
    <br>

    <b class="text-xl">Learn:</b>
    <p class="text-lg">But we don't stop there. Unlike other shopping comparison sites, we offer you a variety of tools and expert advice to help you make informed buying decisions and to find the best product to suit your needs.</p>
    <br>

    <b class="text-xl">Share:</b>
    <p class="text-lg">You don't have to take our word for it. Share your opinions through tools like product reviews and our Facebook page</p>
    <br>

    <b class="text-xl">Shop:</b>
    <p class="text-lg">And when you're ready to buy, we give you options. You can use your secure SellIt account to make purchases across hundreds Stores, all backed by SellIt's 100% satisfaction guarantee, or you can make your purchase directly from the web sites of one of hundreds of our Partner Stores.</p>
    <br>

{% endblock content %}